
@*<style>
        .center {
            height: 100px;
            position: relative;

        }

            .center p {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
    </style>*@




<footer class="main-footer">
    @*<div class="center"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />*@
    <strong>Copyrights | &copy; @DateTime.Now.Year <a href="http://http://www.cyberspace.net.ng/">Cyberspace Network Limited</a>.</strong> All rights reserved.
    @*</p>
        </div>*@
</footer>
