body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
        max-width: 400px;
}
textarea {
    width: 400px;
    height:100px;
}
text{
      width: 100px;
    height:50px;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 5px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

/*body {
    background: #d7dce2;
    background-image: url(../Scontent/68622266-bank-wallpapers.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 1.1em;
    color: #545B64;
    font-weight: 300;
}
th, td {
    padding: 1px 1px;
}
body {
    background: #e2e8ec;
    background-image: url(../Scontent/68622266-bank-wallpapers.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 1.1em;
    color: #545B64;
    font-weight: 300;
}
/*th {
    color: #d2c9c9;
    background: #141517 none repeat-x scroll left top;
}*/
/*th {
    color: #d2c9c9;
    background: #46494e none repeat-x scroll left top;
}*/